{% extends 'base.html' %}

{% load static %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mx-2" href="#" style="font-size: 35px; color: white;">Bujao Hardware</a>
        <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                </li>
            </ul>
        </div>
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-outline-danger mx-2" href="{% url 'main:show_main' %}">
                    Home
                </a>
            </li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="edit-item text-center"> <!-- Center the content -->
            <h1>Edit Item</h1>

            <form method="POST">
                {% csrf_token %}
                <table class="mx-auto"> <!-- Center the table horizontally -->
                    {% for field in form %}
                        <tr>
                            <td>
                                {{ field.label_tag }}
                            </td> <!-- Labels without fixed width -->
                            <td>
                                {% if field.name == 'description' %}
                                    <textarea style="width: 350px; height: 150px;" name="{{ field.name }}" class="form-control">{{ field.value|default:'' }}</textarea> <!-- Adjusted width and height for the Description field -->
                                {% else %}
                                    <input type="text" style="width: 250px;" name="{{ field.name }}" value="{{ field.value|default:'' }}" class="form-control" required /> <!-- Fixed width for other input fields -->
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Edit Item"/> <!-- Apply a button style -->
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock content %}
