{% extends 'base.html' %}

{% load static %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mx-2" href="#" style="font-size: 35px; color: white;">Bujao Hardware</a>

        <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="navbar-text" style="font-size: 20px; color: white;">
                        Welcome, {{ name }} (Class: {{ class }})
                    </span>
                </li>
            </ul>
        </div>
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-outline-danger mx-2" href="{% url 'main:logout' %}">
                    Logout
                </a>
            </li>
        </ul>
    </nav>

    <div class="container mt-4">
        <h1>Welcome to Bujao Hardware!</h1>

        <!--<img src=https://i.imgur.com/OoEWNCk.jpg alt="bujao" >
        <img src=https://i.imgur.com/OMf6Yk5.jpg alt="hardware" >-->

        <h5>Name:</h5>
        <p>{{ name }}</p>

        <h5>Class:</h5>
        <p>{{ class }}</p>

        <p><strong>We currently have {{ items|length }} items for sale!</strong></p>

        <table class="table table-bordered table-striped"> <!-- Menambahkan kelas table-striped -->
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tier</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr class="{% if forloop.last %}last-row{% endif %}">
                        <td>{{ item.name }}</td>
                        <td>{{ item.tier }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.description }}</td>
                        <td>
                            <a href="{% url 'main:edit_item' item.pk %}" class="btn btn-primary">
                                Edit
                            </a>
                            <a href="{% url 'main:delete_item' item.pk %}" class="btn btn-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br />
        
        <a href="{% url 'main:create_item' %}" class="btn btn-warning">
            Add New Item
        </a>

        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>

    <style>
        .last-row {
            background-color: #ffcccc;
        }
    </style>
{% endblock content %}
